:root {
    --dark: #020202;
    --primary: #136AE4;
    --light: #F5F5F5;

    --color-background: var(--light);
    --color-text: var(--color-text);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    /*min-height: 100vh;*/
    color: var(--color-text);
    background: var(--color-background);
    /*transition: color 0.5s, background-color 0.5s;*/
    line-height: 1.5;
    /* TODO Install Roboto for body */
    /* TODO Add Montserrat for btn*/
    /* TODO rem base 16? 21?*/
    font-family: 'Roboto', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /*font-size: 15px;*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}